<!-- nav.html -->
<link rel="stylesheet" href="../styles/nav.css">
<header>
    <nav>
        <div class="logo">Stats</div>
        <input type="checkbox" id="click">
        <label for="click" class="menu-btn">
            <i class="fas fa-bars"></i>
        </label>
        <ul>
           <li><a href="index.html">Home</a></li>
           <li><a href="about.html">About</a></li>
           <li class="dropdown">
            <a href="#" class="dropbtn">Proteome Coverage</a>
            <div class="dropdown-content">
                <a href="proteome_coverage.html">Current Coverage</a>
                <a href="afdb_plddt.html">AFDB predictions</a>
                <!-- Add more sub-pages here -->
            </div>
        </li>
           <li><a href="more.html">More</a></li>
           <li><a href="feedback.html">Feedback</a></li>
        </ul>
    </nav>
</header>

